@model List<UserModel>

@{
    ViewData["Title"] = "Personeller";
}


<div class="row">
    <div class="col">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <hr />
    </div>
</div>


@*<div class="row mb-3">
    <div class="col">
        <a asp-action="Create" class="btn btn-primary-btn btn-sm"><i class="fa fa-plus me-2">Yeni Kullanıcı</i></a>
    </div>
</div>*@



<div class="row mb-3">
    <div class="col">
        <table id="userTable" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Sicil</th>
                    <th>İsim Soyisim</th>
                    <th>Birim</th>
                    <th>Yetki</th>
                    @*           <th>Aktif Mi?</th>*@
                    <th>Oluşturulma Zamanı</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (UserModel user in Model)
                {
                    <tr>
                        <td>@user.Sicil</td>
                        <td>@user.FullName</td>
                        <td>@user.District</td>
                        <td>@user.Role</td>
                        @*                       <td>
                    @if (user.Locked)
                    {

                    <i class="fa fa-times text-danger"></i>
                    }
                    else
                    {
                    <i class="fa fa-check text-success"></i>
                    }
                    </td>*@
                        <td>@user.CreatedAt</td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@user.Id" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-edit me-2"></i></a>
                            <a asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('@user.FullName isimli @user.Sicil sicilli kullanıcıyı silmek istediğinize emin misiniz?')" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa fa-trash me-2"></i></a>
                            <a asp-action="ResetPassword" asp-controller="User" asp-route-id="@user.Id" onclick="return confirm('@user.FullName isimli @user.Sicil sicilli kullanıcının şifresini sıfırlamak istediğinize emin misiniz?')" type="button" class="btn btn-info btn-sm bg-secondary"><i class="fa-solid fa-key me-2"></i></a>
                            @if (ViewData["result"] != null && ViewData["result"] == "PasswordReseted")
                            {
                                <span class="text-success small">Şifre Güncellendi.</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @if (ViewData["result"] != null && ViewData["result"] == "PasswordReseted")
    {
        <script>
            toastr["success"]("Şifre sıfırlandı.", "Başarılı.")
        </script>

    }
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'print'
                ], "language": {
                    "url": "/uploads/translate.json"
                }
            });
        });
    </script>


}


